{% extends 'base.html.twig' %}
{% block javascripts %}

{% endblock %}
{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Créer une sortie</button>
    {{ form_end(sortieForm) }}
{% endblock %}
