{% extends 'base.html.twig' %}

{% block title %}Ajouter un Site{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Ajouter une Ville</h2>

                        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                        <div class="mb-3">
                            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.codePostal, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Ajouter</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}