{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Liste des villes</h1>

        <div class="row g-4">
            {% for ville in villes %}
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ ville.nom }}</h5>
                            <p class="card-text">
                                <strong>Code postal :</strong> {{ ville.codePostal }}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ path('ville_update', {'id': ville.id}) }}" class="btn btn-warning btn-sm">
                                Modifier
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('ville_add') }}" class="btn btn-success">Ajouter une ville</a>
        </div>
    </div>
{% endblock %}
