{% extends 'base.html.twig' %}

{% block title %}Modifier une ville{% endblock %}

{% block body %}
<h1>Modifier une ville</h1>

<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}