{% extends 'base.html.twig' %}

{% block title %}Mes groupes privés{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Mes groupes privés</h1>


        <div class="row g-4">
            {% for groupe in groupes %}
                <div class="col-md-4">
                    <a href="{{ path("gp_detail", {"id": groupe.id}) }}">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ groupe.nom }}</h5>
                            </div>
                            <div class="card-footer text-center">
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('gp_add') }}" class="btn btn-success">Créer un groupe</a>
        </div>
    </div>
{% endblock %}
