<nav class="container-menu">
    <ul class="menu">
        <li><a href="">Villes</a></li>
        <li><a href="">Sites</a></li>
        <li><a href="">Accueil</a></li>
        <li><a href="">Nom</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Se déconnecter</a></li>
    </ul>
</nav>