<nav class="container-menu">
    <ul class="menu">
        {% if app.user %}
        <li><a href="">Villes</a></li>
        <li><a href="">Sites</a></li>
        <li><a href="">Accueil</a></li>
        <li><a href="">Nom</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {%  endif %}
    </ul>
</nav>